
.text-gradient {
    padding: 2px 7px 6px 7px;
    border-radius: 5px;
    display: inline; 
    -webkit-background-clip: text; 
    background-clip: text; 
    color: #fafafa;
    background: linear-gradient(225deg, #6675F7 0%, #57007B 100%);
  }
  .support-gradient {
    padding: 8px 7px 8px 7px;
    border-radius: 5px;
    display: inline; 
    -webkit-background-clip: text; 
    background-clip: text; 
    color: #fafafa;
    background: linear-gradient(225deg, #6675F7 0%, #57007B 100%);
    margin-left: -5px;
  }
  .hometext-gradient {
    background-image: linear-gradient(90deg, #F7666F, #6675F7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  /* Define animations */
.animate-on-scroll {
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  transform: translateX(0);
}

.left-to-right {
  transform: translateX(-100%);
}

.right-to-left {
  transform: translateX(100%);
}

/* Show element when scrolled into view */
.animate-on-scroll.show {
  opacity: 1;
  transform: translateX(0);
}
/* Define animations */
.animate-left,
.animate-right {
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Left-to-right animation */
.animate-left.show {
  opacity: 1;
  transform: translateX(0); /* Target position for left-to-right */
}

/* Right-to-left animation */
.animate-right.show {
  opacity: 1;
  transform: translateX(0); /* Target position for right-to-left */
}

/* Initial positions */
.animate-left {
  transform: translateX(-100%); /* Initial position for left-to-right */
}

.animate-right {
  transform: translateX(100%); /* Initial position for right-to-left */
}
/* .backpic{
  background-image: url(/timingotech/src/images/Glasstech.avif);
} */